
* {
    margin: 0;
    padding: 0;
    /*border: 0;*/
    font-size: 100%;
    box-sizing: border-box;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}

.box{
    border: 2px solid black;
    margin-bottom: 5px;

}

h1, h2 {
    text-align: center;
}

h2 {
    border-bottom: 2px solid black;
    padding-bottom: 15px;
}

label{
    text-align: right;
    width: 50%;
    margin-right: 10px;
}

span {
   text-align: right;
}

.btns {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

#reset {
    float: right;
}


@media only screen and (min-width: 320px) {
    body {
        color: purple;
    }
}


/*iPhone landscape*/

@media only screen and (min-width: 480px) {
    body {
        color: green;
    }
}


/*ipad potrait*/

@media only screen and (min-width: 768px) {
    body {
        color: red;
    }
}


/*ipad lanscape / small laptop*/

@media only screen and (min-width: 1024px) {
    body {
        color: blue;
    }
}
