
* {
    margin: 0;
    padding: 0;
    /*border: 0;*/
    font-size: 100%;
    box-sizing: border-box;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}

body {
    font-size: 16px;
}

nav {
    text-align: center;
    margin-bottom: 30px;
}

a {
    font-size: 20px;
}

.box{
    border: 2px solid black;
    margin-bottom: 15px;
}

h1, h2 {
    text-align: center;
}

h1 {
    font-size: 50px;
}

h2 {
    border-bottom: 2px solid black;
    padding-bottom: 15px;
   
}

label{
    text-align: right;
    width: 50%;
    margin-right: 10px;
}

span {
   text-align: right;
}

.btns {
    margin-top: 30px;
    margin-bottom: 50px;
    padding-right: 10px;
    text-align: center;
}

#reset {
    float: right;
    margin-right: 20px;
    margin-top: 15px;
}

.error {
    text-align: center;
    color: red;
    border-color: red;
}

.ng-invalid.ng-dirty {
    border-color: red;
}

.ng-valid.ng-dirty {
    border-color: green;
}

hr {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 15px;
    border-top: 2px solid #000;
    width: 30%;
}
